<div class="password-container">
  <div class="input-wrapper">
    <input
      [type]="showPassword ? 'text' : 'password'"
      [(ngModel)]="password"
      (input)="calculateStrength()"
      placeholder="Enter your password"
    />
    <button type="button" class="toggle-password" (click)="togglePasswordVisibility()">
      <img [src]="showPassword ? 'assets/icons/eye-open.png' : 'assets/icons/eye-closed.png'" alt="Toggle Password Visibility" />
    </button>
  </div>
  <div class="strength-indicators">
    <div [ngClass]="{'gray': strength === 'empty', 'red': strength === 'too-short' || strength === 'easy', 'yellow': strength === 'medium', 'green': strength === 'strong'}" class="strength-box"></div>
    <div [ngClass]="{'gray': strength === 'empty' || strength === 'easy', 'red': strength === 'too-short', 'yellow': strength === 'medium', 'green': strength === 'strong'}" class="strength-box"></div>
    <div [ngClass]="{'gray': strength === 'empty' || strength !== 'strong', 'red': strength === 'too-short', 'green': strength === 'strong'}" class="strength-box"></div>
  </div>
</div>
