<div class="password-container">
  <div class="input-wrapper">
    <input
      [formControl]="passwordControl"
      [type]="showPassword ? 'text' : 'password'"
      placeholder="Enter your password"
    />
    <button type="button" class="toggle-password" (click)="togglePasswordVisibility()">
      <img [src]="showPassword ? 'assets/icons/eye-closed.png' : 'assets/icons/eye-open.png'" alt="Toggle Password Visibility" />
    </button>
  </div>
  <div class="strength-indicators">
    <div *ngFor="let l of passwordLevels" class="strength-box" [appStrengthClass]="l"  [password]="passwordControl.value"></div>
  </div>
</div>